/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-image: url(attachment/R.jpg);
    background-color: #121212;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 1.5vw; /* 20px */
    background-color: #1b1b1b;
    border-bottom: 0.15vw solid rgb(255, 255, 255); /* 2px */
}

.header h1 {
    margin: 0;
    font-size: 3.75vw; /* 50px */
    color: white;
}

/* Contact Form Container */
.contact-container {
    max-width: 45vw; /* 600px */
    margin: 3.75vw auto; /* 50px */
    padding: 1.5vw; /* 20px */
    background: #fff;
    box-shadow: 0 0.3vw 0.6vw rgba(0, 0, 0, 0.1); /* 4px, 8px */
    border-radius: 0.6vw; /* 8px */
}

/* Header */
.contact-container h2 {
    text-align: center;
    margin-bottom: 1.5vw; /* 20px */
    color: #333;
}

/* Form Fields */
form {
    display: flex;
    flex-direction: column;
}

input, textarea, button {
    margin-bottom: 1.125vw; /* 15px */
    padding: 0.75vw; /* 10px */
    border: 0.075vw solid #ccc; /* 1px */
    border-radius: 0.3vw; /* 4px */
}

/* Textarea */
textarea {
    resize: vertical;
    height: 14vw; /* 200px */
}

/* Button */
button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Success and Error Messages */
.success-message, .error-message {
    text-align: center;
    font-size: 1.05vw; /* 14px */
}

.success-message {
    color: green;
}

.error-message {
    color: red;
}

.footer {
    border-top: 0.15vw solid rgb(255, 255, 255); /* 2px */
    padding: 0.75vw; /* 10px */
    text-align: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    background-color: #222;
}

@media (max-width: 768px) {
    .contact-container {
      height: auto;
    }
    .footer {
        font-size: small; /* Adjust text size for mobile */
    }
}

.footer-content {
    max-width: 90vw; /* 1200px */
    margin: 0 auto;
}

.footer-links {
    margin-top: 0.75vw; /* 10px */
}

.footer-links a {
    font-weight: bold;
    color: rgb(2, 142, 2);
    margin: 0 0.75vw; /* 10px */
    text-decoration: none;
}

.footer-links a:hover {
    color: lightgreen;
    text-decoration: underline;
}
