body, html {
    background-color: black;
    margin: 0;
    
  }
  
  .header {
    background-image: url('attachment/R.jpg'); 
    background-size: cover;
    height: 85px; 
    position: relative;
    justify-content:space-evenly;    
  }
  
  .menu-container {
      position: relative;
      display: flex;
      justify-content:space-between ;
      padding: 10px;
      
      
  }
  
  .menu-heading{
      margin: 0;
      color: white;
  }
  
  .hamburger {
      cursor: pointer;
      font-size:1.8vw ;
      color: #fff;
      border-radius: 2px;
     
  }
  
  .dropdown {
      display: none;
      position: absolute;
      right: 0;
      width: 100%;
      background-color: grey;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      z-index: 3;
  }
  
  .dropdown a {
      font-size: 1.2vw;
      display: block;
      padding: 10px;
      text-decoration: none;
      color: white;
  }
  
  .dropdown a:hover {
      background-color: black;
  }
  
  
  @import url('https://fonts.cdnfonts.com/css/ica-rubrik-black');
  @import url('https://fonts.cdnfonts.com/css/poppins');
  
  .banner{
      background-image: url(attachment/galaxy.jpg);
      background-position: center;
      background-size:cover;
      background-color:rgb(103, 102, 102);
      width: 100%;
      height: 90vh; 
      text-align: center;
      overflow: hidden;
      position: relative;
  }
  .banner .slider{
      position: absolute;
      width: 200px;
      height: 225px;
      top: 12%;
      left: calc(50% - 100px);
      transform-style: preserve-3d;
      transform: perspective(1000px);
      animation: autoRun 20s linear infinite;
      z-index: 2;
  }
  @keyframes autoRun{
      from{
          transform: perspective(1000px) rotateX(-14deg) rotateY(0deg);
      }to{
          transform: perspective(1000px) rotateX(-14deg) rotateY(360deg);
      }
  }
  
  .banner .slider .item{
      position: absolute;
      inset: 0 0 0 0;
      transform: 
          rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
          translateZ(400px);
  }
  .banner .slider .item img{
      width: 80%; /*fjgmhjj*/
      height: 80%;
      object-fit: cover;
      border-radius: 5px;
  }
  .banner .content{
      color: #d2d2d2;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: min(1400px, 100vw);
      height: max-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      z-index: 1;
  }
  .banner .content h1{
      font-family: 'ICA Rubrik';
      font-size: 10.8vw;/*9em*/
      line-height: 1em;
      color: #25283B;
      position: relative;
  }
  .banner .content h1::after{
      position: absolute;
      inset: 0 0 0 0;
      content: attr(data-content);
      z-index: 2;
      -webkit-text-stroke: 2px #d2d2d2;
      color: transparent;
  }
  .banner .content .news{
    font-family: Poppins;
    text-align: right;
    max-width: 100px;
    z-index: 3;
    margin-bottom: 10px;
  } 
  .banner .content .blogs{
      font-family: Poppins;
      text-align: right;
      max-width: 100px;
      z-index: 3;
      margin-bottom: 10px;
    }

  .banner .content h2{
      font-size:2.4vw;
  }
  .banner .content .model{
      background-image: url(attachment/model.png);
      width: 100%;
      height: 70vh;/*70vh*/
      position: absolute;
      bottom: 0;
      left: 0;
      background-size: auto 120%;
      /* background-size: auto; */
      background-repeat: no-repeat;
      background-position: top center;
      z-index: 1;
  }

  @media screen and (max-width: 1024px) {

    .banner {
        height: 60vh;
    }
      .banner .slider{
          width: 100px;
          height: 140px;
          top: 10%;
          left: calc(50% - 50px);
      }
      .banner .slider .item{
          transform: 
              rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
              translateZ(200px);
      }
      .banner .content .model{
        width: 80%;
        height: 40vh;
      }
      .banner .content h1{
          text-align: center;
          width: 100%;
          text-shadow: 0 10px 20px #000;
          font-size: 12vw;
      }
      .banner .content .news,
      .banner .content .blogs{
          color: #fff;
          padding: 10px;
          text-shadow: 0 10px 20px #000;
          z-index: 3;
          max-width: unset;
          width: 50%;
          justify-content: space-evenly;
          padding:0 120px;
          font-size: 1.2vw;
       }
  }


/* Base styles for the News dropdown */
.news-dropdown {
    cursor: pointer;
    font-size: 48vw;
    margin: 0;
    color: #d2d2d2;
    transition: color 0.3s ease;
}

.news-dropdown:hover {
    color: green;
}


.dropdown-menu {
    list-style-type: none;
    margin:0;
    padding: 0;
    position: absolute; 
    background-color:black;
    border: 1px solid green;
    display: none; 
    min-width: 150px;
    z-index: 999;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdown-menu li {
  padding: 5px;
}

.dropdown-menu li a {
    text-align: center;
    text-decoration: none;
    color: #d2d2d2;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}

.dropdown-menu li a:hover {
    background-color: green;
    color:black;
    border-radius: 5px;
}


.news:hover .dropdown-menu,
.blogs:hover .dropdown-menu {
    display: block;
}

@media screen and (max-width:1024px){
    .news,
    .blogs{
        display: inline-block;
    }
    .dropdown-menu{
        overflow: visible;
    }
    .dropdown-menu li{
        padding: 2px;
    }
    
}


.container {
    border: 3px solid transparent;
    border-top-color: green;
    z-index: -1;
    overflow: visible;
  }
  
  .button {
      text-decoration: none;
      font-family: inherit;
      padding: 10px 40px;
      margin: 3px;
      border: none;
      font-size: 1.4vw;
      background-color: whitesmoke; 
      color: black;
      cursor: pointer;
      border-radius: 5px; 
      transition: background-color 0.3s , color 0.3s;
      box-shadow: 0 4px 6px rgba(255, 255, 255, 0.482);
  }
  .button:hover {
      background-color:green;
      color: black; /* Darker color on hover */
  }
  .button-container {
     font-size: 1.4vw;
      display: flex;
      justify-content:space-evenly; /* Center buttons horizontally */
      margin-top: 7px;
  }
  
  .button:focus, .dot:focus {
    outline: 2px dashed green;
  }
  
  
  
  
  
  
  .slideshow-container {
      position: relative;
      max-width: 50vw;
      margin: auto;
    }
    
    .slide_fade img{
        border-radius: 5px;
    }
    .slide {
      display: none;
    }
  
    .active {
      display: block;
    }
  
    .fade {
      animation: fadeEffect 1.5s;
    }
  
    .text {
      color: white;
      font-size: 1.5vw;
      padding: 8px 12px;
      position: absolute;
      bottom: 30px; /* Adjust as desired */
      max-width: 100%;
      text-align: center;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    }
  
    @keyframes fadeEffect {
      from {opacity: 0.4}
      to {opacity: 1}
    }
  
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 1.35vw;
      transition: 0.3s;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }
  
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }
  
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  
    .dots {
      text-align: center;
    }
  
    .dot {
      cursor: pointer;
      height: 1.125vw;
      width: 1.125vw;
      margin: 0 4px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
      margin-top: 5px;
      margin-bottom: 10px;
    }
  
    .dot.active {
      background-color: green;
    }
  
    .dot:hover {
      background-color: rgba(0, 128, 0, 0.7); /* Slightly darker green */
    }
  
  
  .footer {
      border-top: 2px solid rgb(255, 255, 255);
      padding: 10px;
      text-align: center;
      color: #fff;
      display: flex; 
      flex-direction: column;
      background-color: #222 ;
      font-size: 1.2vw;
  }
  
  @media (max-width: 768px) {
      .footer {
          font-size: small; /* Adjust text size for mobile */
      }
  }
  
  .footer-content {
      max-width:1200px;
      margin: 0 auto;
  }
  .footer-links {
      margin-top: 10px;
  }
  .footer-links a {
      font-weight:bold;
      color: rgb(2, 142, 2);
      margin: 0 10px;
      text-decoration: none;
  }
  .footer-links a:hover {
      color: lightgreen;
      text-decoration: underline;
  }

  @media (max-width: 1024px) {
    .header {
        height: 6vw;
    }
}
    @media (min-width: 1200px) {
        .header {
            height: 6vw;
        }}